:host {
  display: block;
}

:host > button {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font: inherit;
  padding: 10px;
  margin: 0;
  transition: background 200ms;
}

:host > button:disabled {
  opacity: 0.2;
  pointer-events: none;
}

:host > button:hover {
  background: #f5f5f5;
}

:host > button:active {
  background: #eeeeee;
}

:host > button > img {
  height: 20px;
  margin-right: 12px;
  width: 20px;
}
