:host {
  display: contents;
}

:host > tr {
  border-bottom: 1px solid var(--table-border-colour);
  transition: background 200ms;
}

:host > tr.selectable:not(.disabled) {
  cursor: pointer;
}

:host > tr.selectable.disabled {
  cursor: not-allowed;
}

:host > tr.selectable:not(.disabled):not(.selected):hover {
  background: #f5f5f5;
}

:host > tr.selected {
  background: #eeeeee;
}

:host > tr > td {
  font-size: 14px;
  padding: var(--table-cell-padding);
  vertical-align: middle;
}
