:host {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

:host > .status-orb {
  background: #86ce3c;
  border-radius: 50%;
  display: block;
  height: 16px;
  margin-left: 16px;
  width: 16px;
}
