:host {
  display: block;
}

:host > input {
  cursor: pointer;
}

:host > input[disabled] {
  pointer-events: none;
}

:host > label {
  cursor: pointer;
  padding-left: 12px;
  user-select: none;
}
