:host {
  display: block;
  overflow: auto;
}

:host > .table-controls {
  align-items: center;
  display: flex;
  padding: var(--table-cell-padding);
}

:host > .table-controls > app-checkbox {
  margin-right: 20px;
}

:host > table {
  border-collapse: collapse;
  width: 100%;
}

:host > table {
  border-top: 1px solid var(--table-border-colour);
}

:host > table > thead > tr > th {
  font-size: 18px;
  font-weight: normal;
  padding: var(--table-cell-padding);
  text-align: left;
  text-transform: capitalize;
}

:host > table > thead > tr {
  border-bottom: 1px solid var(--table-border-colour);
}
